<%= render "shared/menu" %>

<div id="showUser" class="col-md-12" ng-app ng-controller="displayCtrl">
  <div class="main">	 
	<% if !@profile.nil? && !@profile.new_record? %>
	<%= render "shared/nav" %>
	<div class="clearfix"></div>
	<!--div class="row">
		<div class='col-md-3'>
			<a id='profileDoc' class='btn btn-default'>Export Profile{{user.admin ? 's' : ''}} </a>
		</div>

		<div class='col-md-3'>
			<a id='visitor_surveys' class='btn btn-default'>Export{{user.admin ? ' All' : ''}} Survey{{user.admin ? 's' : ''}}</a>
		</div>
		
		<div class='col-md-3'>
			<a id='visitor_counts' class='btn btn-default'>Export {{user.admin ? ' All' : ''}}  Visitor Count{{user.admin ? 's' : ''}}</a>
		</div>

		<div class='col-md-3'>
			<a id='sales_slips' class='btn btn-default'>Export {{user.admin ? ' All' : ''}}  Sales Slip{{user.admin ? 's' : ''}}</a>
		</div>
	</div>
	<div class="row" style="  margin-top: 15px;">
		<div class='col-md-3'>
			<a id='food_assistance' class='btn btn-default'>Export {{user.admin ? ' All' : ''}} Food Assistance</a>
		</div>
		<div class='col-md-3'>
			<a id='credit_debit' class='btn btn-default'>Export {{user.admin ? ' All' : ''}} Debit/Credit</a>
		</div>
		<div class='col-md-3'>
			<a id='visitor_application' class='btn btn-default'>Export {{user.admin ? ' All' : ''}} Application{{user.admin ? 's' : ''}}</a>
		</div>
		<div class='col-md-3'>
			<a id='vendor_attendance' class='btn btn-default'>{{user.admin ? ' All ' : ''}}Attendance Slip{{user.admin ? 's' : ''}}</a>
		</div>
	</div>
	<div class="row" style="  margin-top: 15px;">
		<div class='col-md-3'>
			<a id='market_events' class='btn btn-default'>Export {{user.admin ? ' All' : ''}} Market Event{{user.admin ? 's' : ''}}</a>
		</div>
		<div class='col-md-3'>
			<a id='volunteers' class='btn btn-default'>Export {{user.admin ? ' All' : ''}} Volunteer{{user.admin ? 's' : ''}}</a>
		</div>
	</div>
	<div class="clearfix"></div-->
	<div class="row">
		<label class="col-md-5">Choose the data you want to export: </label>
		<div class="col-md-3">
			<select ng-model="csv">
				<option value="profileDoc">Profiles</option>
				<option value="visitor_surveys">Visitor Surveys</option>
				<option value="visitor_counts">Visitor Counts</option>
				<option value="sales_slips">Sales Slips</option>
				<option value="food_assistance">Food Assistance</option>
				<option value="credit_debit">Credit/Debit Sales</option>
				<option value="visitor_application">Visitor Applications</option>
				<option value="vendor_attendance">Vendor Attendance</option>
				<option value="market_events">Market Events</option>
				<option value="volunteers">Volunteers</option>
			</select>
		</div>
		<div class="col-md-3">
			<a href="javascript:void(0)" ng-click="selectFile()" class="btn btn-default" id="file">Export</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="profile-header">
		<h2 ng-click="slide('#info')" class="title" >Profile Info <span ng-if="profile.FMC_member">FMC Member!</span></h2>
		<div class="profile-group" id="info">
			<h3><span>Summary</span></h3>
			<div class="row">
				<div class="col-md-7">
					<label>Name:</label><span class="val"><%= @profile.name %></span>
				</div>
				<div class="col-md-5">
					<label>Year Founded:</label><span class="val"><%= @profile.year %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-7">
					<label>Location:</label><span class="val"><%= @profile.address %> <%= @profile.city %>, <%= @profile.state %> <%= @profile.zip %></span>
				</div>
				<div class="col-md-5">
					<label>County:</label><span class="val"><%= @profile.county %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<h3><span>Indicators for Impact</span></h3>
			<p>Farmers Markets as Leaders in Collaborative Food System Data Collection and Analysis.</p>
			<div class="row">
				<div class="col-md-6">
					<label>Operates year round?:</label><span class="val"><%= @profile.year_round ? "yes" : "no" %></span>
				</div>
				<div class="col-md-6">
					<label>FMC Member?:</label><span class="val"><%= @profile.FMC_member ? "yes" : "no" %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<label>Host Organization name:</label><span class="val"><%= @profile.host_name %> <%= @profile.incorporated != "Other" ? @profile.incorporated : @profile.incorporated_other %></span>
				</div>
			</div>
			<div ng-if="profile.mission_statement">
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-3">
						<label ng-if="profile.when_ms">Published in <%= @profile.when_ms %></label>
					</div>
					<div class="col-md-9 val">
						<span ng-if="!profile.ms_none"><%= @profile.name %>'s mission statement can be found on
							<span ng-if="profile.ms_website">the market's webiste, </span>
							<span ng-if="profile.ms_manual">in the market's manual,  </span>
							<span ng-if="profile.ms_market_promos">in the market's promos, </span>
							<span ng-if="profile.ms_other">{{profile.ms_other_text}} </span>
						</span>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<div class="profile-header" ng-if="mars.length > 0">
		<h2 ng-click="slide('#markets')" class="title" >Markets</h2>
		<div class="profile-group" id="markets">
			<div ng-repeat="market in markets">
				<div ng-if="market != [null,null,null]">
					<h3 ng-if="$index == 0"><span>Main Market</span></h3>
					<h3 ng-if="$index != 0"><span>Alternate Location #{{$index}}</span></h3>
					<div class="row">
						<div class="col-xs-4" ng-if="market[0] != null">
							<h5>Primary Seasonal Market</h5>
							<div class="date">Opening Date: {{market[0].start}}</div>
							<div class="date">Opening Date: {{market[0].end}}</div>
						</div>
						<div class="col-xs-4" ng-if="market[1] != null">
							<h5>Seperate Seasonal #1</h5>
							<div class="date">Opening Date: {{market[1].start}}</div>
							<div class="date">Opening Date: {{market[1].end}}</div>
						</div>
						<div class="col-xs-4" ng-if="market[2] != null">
							<h5>Seperate Seasonal #2</h5>
							<div class="date">Opening Date: {{market[2].start}}</div>
							<div class="date">Opening Date: {{market[2].end}}</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>	
			</div>	
		</div>
	</div>
	<% end %>
  </div>

</div>
<%= render "shared/footer" %>
<script type="text/javascript">

var admin = <%= raw(@user.admin) %>;
var profile = <%= raw(@profile.to_json) %>;
var markets = <%= raw(@markets.to_json) %>;
var management = <%= raw(@management.to_json) %>;
var accessibility = <%= raw(@accessibility.to_json) %>;
var communities = <%= raw(@communities.to_json) %>;
var surveys = <%= raw(@surveys.to_json) %>;

var profiles = <%= raw(@profiles.to_json) %>;
var visitor_surveys = <%= raw(@visitor_surveys.to_json) %>;
var sales_slips = <%= raw(@sales_slips.to_json) %>;
var visitor_counts = <%= raw(@visitor_counts.to_json) %>;
var applications = <%= raw(@applications.to_json) %>;
var assistances = <%= raw(@assistances.to_json) %>;
var assistance_snap = <%= raw(@assistance_snap.to_json) %>;
var credits = <%= raw(@credit.to_json) %>;
var attendance = <%= raw(@research.to_json) %>;
var events = <%= raw(@events.to_json) %>;
var volunteers = <%= raw(@volunteers.to_json) %>;


console.log(applications,assistances,credits);

var visitor_survey_sheet = '';
var visitor_count_sheet = '';
var sales_slip_sheet = '';
var finalVal = '';

for (var key in profile) {if (profile.hasOwnProperty(key)) {key = '"' + key + '",';finalVal += key;}}
for (var key in markets) {if (markets.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in management) {if (management.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in accessibility) {if (accessibility.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in communities) {if (communities.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}

finalVal += '\n';
var k;

for (var i in profiles){
	var Tprofile = profiles[i].profile;
	var Tmarkets = profiles[i].markets;
	var Tmanagement = profiles[i].management;
	var Taccessibility = profiles[i].accessibility;
	var Tcommunities = profiles[i].community;

	for (var key in Tprofile) {k = '';if (Tprofile.hasOwnProperty(key)) {k = '"' + Tprofile[key] + '",';finalVal += k;}}
	for (var key in Tmarkets) {k = '';if (Tmarkets.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tmarkets[key] + '",';finalVal += k;}}
	for (var key in Tmanagement) {k = '';if (Tmanagement.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tmanagement[key] + '",';finalVal += k;}}
	for (var key in Taccessibility) {k = '';if (Taccessibility.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Taccessibility[key] + '",';finalVal += k;}}
	for (var key in Tcommunities) {k = '';if (Tcommunities.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tcommunities[key] + '",';finalVal += k;}}
	finalVal += '\n';
}


var visitor_survey = '"Date",';
var visitor_survey_heading = {
	name: "Market Name",
	yes7: "Dwtn Activities Yes",
	no7: "Dwtn Activities No",
	downtown_spent_morning: "Dwtn Spending Total",////?!!!!!!!!!!!
	downtown_spent_afternoon: "Dwtn Spending Avg",
	spent_morning: "Mkt Spending Morning",
	spent_afternoon: "Mkt Spending Afternoon",
	yes13: "First Visit Yes",
	no13: "First Visit No",
	every_week: "Every Week",
	every_other_week: "Every Other Week",
	every_month: "Every Month",
	less_than_month: "Less Than Month",
	bikes: "Bike",
	bus: "Bus",
	walking: "Walking",
	taxi: "Taxi",
	other_method: "Other Method",
	home_zip: "Zip Codes"//probs delete

};

var foot_list_heading = {
	Watermelons: "Watermelons",
    Wineberries: "Wineberries",
    PawPaws: "PawPaws",                  
    Peaches: "Peaches",                  
    Pears: "Pears",                    
    Plums: "Plums",                    
    Quince: "Quince",                   
    Raspberries: "Raspberries",
    Strawberries: "Strawberries",             
    Tangerines: "Tangerines",               
    Tayberries: "Tayberries",               
    Kumquats: "Kumquats",                 
    Lemons: "Lemons",                   
    Limes: "Limes",                    
    Mulberries: "Mulberries",               
    Oranges: "Oranges",                  
    Fejioas: "Fejioas",                  
    Figs: "Figs",                     
    Gooseberries: "Gooseberries",             
    Grapefruit: "Grapefruit",               
    Grapes: "Grapes",                   
    Honeydew_melons: "Honeydew Melons",          
    Apricots: "Apricots",                 
    Apriums: "Apriums",                  
    Asian_pears: "Asian Pears",
    Avocados: "Avocados",                 
    Blackberries: "Blackberries",             
    Blueberries: "Blueberries",
    Boysenberries: "Boysenberries",            
    Canary_melons: "Canary Melons",            
    Cantaloupes: "Cantaloupes",
    Cherimoyas: "Cherimoyas",               
    Cherries: "Cherries",                 
    Chestnuts: "Chestnuts",                
    Currants: "Currants",                 
    Dates: "Dates",                    
    Artichokes: "Artichokes",               
    Arugula: "Arugula",                  
    Asparagus: "Asparagus",                
    Beets: "Beets",                    
    Beet_greens: "Beet Greens",
    Bok_choy: "Bok Choy",                 
    Broccoli: "Broccoli",                 
    Broccoli_rabe: "Broccoli Rabe",            
    Brussels_sprouts: "Brussels Sprouts",         
    Cabbage: "Cabbage",                  
    Cardoons: "Cardoons",                 
    Carrots: "Carrots",                  
    Cauliflower: "Cauliflower",
    Celeriac: "Celeriac",                 
    Celery: "Celery",                   
    Chard: "Chard",                    
    Chicory: "Chicory",                  
    Chipilín: "Chipilín",                 
    Collards: "Collards",                 
    Cress: "Cress",                    
    Cucumbers: "Cucumbers",                
    Dandelion_greens: "Dandelion Greens",         
    Dry_beans: "Dry_beans",                
    Eggplant: "Eggplant",                 
    Fennel: "Fennel",                   
    Garlic_bulb: "Garlic Bulb",
    Garlic_scapes: "Garlic Scapes",            
    Green_beans: "Green Beans",
    Herbs_fresh: "Herbs Fresh",
    Hierbamora: "Hierbamora",               
    Horseradish: "Horseradish",
    Jicama: "Jicama",                   
    Kale: "Kale",                     
    Kohlrabi: "Kohlrabi",                 
    Lambs_quarters: "Lambs Quarters",           
    Leeks: "Leeks",                    
    Lettuce: "Lettuce",                  
    Lima_Beans: "Lima Beans",               
    Mushrooms: "Mushrooms",                
    Mustard_greens: "Mustard Greens",           
    Okra: "Okra",                     
    Onions: "Onions",                   
    Parsnips: "Parsnips",                 
    Peas: "Peas",                     
    Pea_shoots: "Pea Shoots",               
    Peppers_hot: "Peppers (hot)",
    Peppers_sweet: "Peppers (sweet)",            
    Pumpkins: "Pumpkins",                 
    Potatoes: "Potatoes",                 
    Purslane: "Purslane",                 
    Squash_summer: "Squash (summer)",            
    Squash_winter: "Squash (winter)",            
    Radishes: "Radishes",                 
    Rhubarb: "Rhubarb",                  
    Rutabagas: "Rutabagas",                
    Salsify: "Salsify",                  
    Scallions: "Scallions",                
    Shallots: "Shallots",                 
    Spinach: "Spinach",                  
    Sprouts: "Sprouts",                  
    Sunchokes: "Sunchokes",                
    Sweet_corn: "Sweet Corn",               
    Sweet_potatoes: "Sweet Potatoes",           
    Sweet_potato: "Sweet Potato",             
    Tomatillos: "Tomatillos",               
    Tomatoes: "Tomatoes",                 
    Turnips: "Turnips",                  
    Turnip_greens: "Turnip Greens",            
    Yacon: "Yacon",                    
    Fava_beans: "Fava Beans",               
    Jujubes: "Jujubes",                  
    Apples: "Apples"
};

if(visitor_surveys[0] && visitor_surveys[0][0]){
	for (var key in visitor_surveys[0][0]) {
		if(key != 'profile_id' && key != 'id' && key != 'date'){
			if(key in foot_list_heading) {
				key = '"' + foot_list_heading[key] + '",';
				visitor_survey += key;
			}else if(key in visitor_survey_heading) {
				key = '"' + visitor_survey_heading[key] + '",';
				visitor_survey += key;
			}
		}
	}
	visitor_survey += '\n';

	for (var i in visitor_surveys){
		for(var j in visitor_surveys[i]){

			var survey = visitor_surveys[i][j];
			visitor_survey += survey.date + ',';
			for (var key in survey) {
				k = '';
				if ((foot_list_heading.hasOwnProperty(key) || visitor_survey_heading.hasOwnProperty(key)) && key != 'profile_id' && key != 'id' && key != 'date') {
						k = '"' + survey[key] + '",';
					visitor_survey += k;
				}
			}
			visitor_survey += '\n';
		}
	}
}

var sales_slip_heading = {
	Debt_sales: "Debit/credit Sales",
	SNAP_sales: "SNAP/EBT Sales",
	SNAP_transactions: "EBT transactions",
	Senior_FMNP_sales: "Senior FMNP Sales",
	WIC_FMNP_sales: "WIC FNMP Sales",
	WIC_sales: "WIC CVV Sales",
	farm_sales: "Farm Product Sales",
	pounds_donated: "Donated Food (lbs)",
	ready_sales: "Ready-to-eat Sales",
	total_sales: "Total Sales",
	value_sales: "Value-added Sales",
	values_donated: "Donated Food ($)",
	//don't forget vegetables, date, name and count

};

//var sales_slips_csv = 'Profile, Date, Surveys completed, Total Sales,Farm Product Sales,Value-added sales,Ready-to-eat sales,Debit/credit sales,WIC FMNP sales,WIC CVV sales,Senior FMNP sales,SNAP/EBT sales,EBT transactions (#),Donated food (pounds),Donated food ($), Most common vegetables\n';
var sales_slips_csv = 'Profile, Date, Total Sales,Farm Product Sales,Value-added sales,Ready-to-eat sales,Debit/credit sales,WIC FMNP sales,WIC CVV sales,Senior FMNP sales,SNAP/EBT sales,EBT transactions (#),Donated food (pounds),Donated food ($), Most common vegetables\n';

for(var i = 0; i < sales_slips.length; i++){
	var prof = sales_slips[i];
	if(!prof.slips && prof.slips.length == 0)
		continue;

	//sales_slips_csv += prof.name + '\n';
	for(var j = 0; j < prof.slips.length; j++){
		var day = prof.slips[j];
		if(day.length == 0)
			continue;

		//sales_slips_csv += ','+day[0].date+','+day.length;
		for(var k = 0; k < day.length; k++){
			var slip = day[k];
			sales_slips_csv += prof.name+','+day[0].date+','+slip.total_sales+','+slip.farm_sales+','+slip.value_sales+','+slip.ready_sales+','+slip.Debt_sales+','+slip.WIC_FMNP_sales+','+slip.WIC_sales+','+slip.Senior_FMNP_sales+','+slip.SNAP_sales+','+slip.SNAP_transactions+','+slip.pounds_donated+','+slip.values_donated+',"'+slip.veg1+ ','+slip.veg2+','+slip.veg3+'"\n'

			//sales_slips_csv += ','+( k > 0 ? ',,': '')+slip.total_sales+','+slip.farm_sales+','+slip.value_sales+','+slip.ready_sales+','+slip.Debt_sales+','+slip.WIC_FMNP_sales+','+slip.WIC_sales+','+slip.Senior_FMNP_sales+','+slip.SNAP_sales+','+slip.SNAP_transactions+','+slip.pounds_donated+','+slip.values_donated+',"'+slip.veg1+ ','+slip.veg2+','+slip.veg3+'"\n'
		}
	}

}

var visitor_count_csv = '';

for(var i = 0; i < visitor_counts.length; i++){
	var vci = visitor_counts[i];
	if(vci.name == null)
		continue;
	visitor_count_csv += vci.name + ',\n';
	for(var j = 0; j < vci.points.length; j ++){
		var vcj = vci.points[j];
		if(vcj == undefined)
			break;
		visitor_count_csv += '"",Day: '+vci['day'+j] + ',\n';
		visitor_count_csv += '"","","",Entry Point 1,Entry Point 2,Entry Point 3,Entry Point 4,'+
									'Entry Point 5,Entry Point 6,Entry Point 7,Entry Point 8,\n';
		for(var k = 0; k < vcj.length; k++){
			visitor_count_csv += '"","",'+(k == 0 ? 'Early Visitors' : ('Sample period: '+k))+ ',';
			for(var l = 0; l < vcj[k].length; l++){
				visitor_count_csv += vcj[k][l].count + ',';
			}
			visitor_count_csv += '\n';
		}
	}
	visitor_count_csv += '\n';
}

var food_assistance_csv = 'Transaction Date,Benefit Type,Last 8 Digits,Amount Redeemed,Zip Code,First Time Using Benefits,Incentive Campaign\n';

for(var i in assistances){
	var a = assistances[i];
	food_assistance_csv += a.transaction_date+","+a.type_of_assistance+","+a.digits_of_snap+","+(a.redeemed ? '$'+a.redeemed : '')+","+a.zip_code+","+(a.first_name ? 'Yes' : 'No')+","+a.incentive_campaign+"\n"
} 

if(assistance_snap && assistance_snap.length > 0){
	food_assistance_csv += '\n\n,,Metric #18, Metric#19\nMarket,Transaction Date,Unique SNAP Incentive IDs,Repeat SNAP IDs\n';

	for(var i in assistance_snap){
		var a = assistance_snap[i];
		food_assistance_csv += a.name+','+a.transaction_date+','+a.array_length+','+(a.count-a.array_length)+'\n';
	}
}

var credit_debit_csv = admin ? 'Market Name,Transaction Date,Credit Sales,Debit Sales,\n' : 'Transaction Date,Credit Sales,Debit Sales,\n';

for(var i in credits){
	var a = credits[i];
	credit_debit_csv += (admin ? (a.name+",") : '')+a.transaction_sales+","+(a.credit_sales ?'$'+a.credit_sales:'')+","+(a.debit_sales ?'$'+a.debit_sales:'')+"\n"
} 


var visitor_application_csv = (admin ? 'Market Name' : '')+',Vendor name,Total Gross Sales,Farm Product	Value-added,Ready-to-eat food,Other product,Anticipated 2015 Sales,Primary Location,Secondary Location,Place holder,Total Acres,Owned,Leased,Cultivated/Grazed,Anticipated 2015 Acreage,Seasonal Workers,Year-round Workers,Anticipated 2015 Workers,Total Gross Sales,Farm Product,Value-added,Ready-to-eat food,Other product,Anticipated 2015 Sales,Products Sold,Place holder,Apples,Apricots,Apriums,Asian Pears,Blackberries,Blueberries,Boysenberries,Canary Melons,Cantaloupes,Cherimoyas,Cherries,Currants,Dates,Feijoas,Figs,Grapefruit,Grapes,Honeydew Melons,Jujubes,Mulberries,PawPaws,Peaches,Pears,Plums,Quince,"Raspberries, Black","Raspberries, Red",Strawberries,Tayberries,Watermelon,Wineberries,Artichokes,Arugula,Asparagus,"Beans, Green","Beans, Dry",Beets,Beet Greens,Bok Choy,Broccoli,Broccoli Rabe,Brussels Sprouts,"Cabbage, Green","Cabbage, Purple",Cardoons,Carrots,Cauliflower,Celeriac,Celery ,Chard,Chicory,Chipilin,Collards,"Corn, Sweet",Cress,Cucumbers,Dandelion Greens,Eggplant,Epazote,Fava Beans,Fennel ,Garlic Bulb,Garlic Scapes,"Herbs, Fresh",Hierbamora,Horseradish,Jicama,Kale,Kohlrabi,Lambs Quarters,Leeks,Lettuce,Lima Beans,Mesclun (mixed greens),Mushrooms,Mustard Greens,Okra,Onions,Parsnips,"Peas, English","Peas, Sugar Snap","Peas, Snow","Peppers, Hot","Peppers, Sweet Green","Peppers, Sweet Red","Peppers, Sweet Purple","Peppers, Sweet Yellow",Potatoes,Pumpkins,Purslane,Radishes,Rhubarb,Rutabagas,Salsify,Scallions,Shallots,Spinach,Sprouts,"Squash, Summer","Squash, Winter",Sunchokes,Sweet Potatoes,Sweet Potato Greens,Tomatillos,Tomatoes,Turnips,Turnip Greens,Yacon,Chestnuts,Peanuts,"Walnuts, Black","Walnuts, English"\n';

//for(var i in applications[0])
//	visitor_application_csv += i+',';
//visitor_application_csv += '\n';
console.log(applications);

for(var i in applications){
	var a = applications[i];
	visitor_application_csv += a.name+','+a.vendor_name+','+(a.farm_sales+a.value_sales+a.ready_sales+a.other_sales)+','+a.farm_sales+','+a.value_sales+','+a.ready_sales+','+a.other_sales+','+a.level_of_sales+','+a.primary_loc+','+a.secondary_loc+',,'+(a.acres_owned+a.acres_leased+a.acres_cultivated)+','+a.acres_owned+','+a.acres_leased+','+a.acres_cultivated+','+a.level_of_acres+','+a.workers_seasonal+','+a.workers_yearly+','+a.level_of_worker_anticipation+','+(a.farm_sales+a.value_sales+a.ready_sales+a.other_sales)+','+a.farm_sales+','+a.value_sales+','+a.ready_sales+','+a.other_sales+','+a.level_of_sales+','+a.owner1_years+',';//+a.owner2_years+','+a.owned_by_women+','+('White: '+a.operators_white+'Mexican: '+a.operators_mexican+'Black: '+a.operators_black+'Indian: '+a.operators_indian+'Asian: '+a.operators_asian)+','+a.under_35+','+a.certified_organic_number+','+a.certified_naturaly_number+','+a.certified_biodynamic_number+','+a.food_alliance_number+','+a.other_certification_number+','+a.certified_organic_number+',,'+
	visitor_application_csv += a.Apples+','+a.Apricots+','+a.Apriums+','+a.Asian_pears+','+a.Blackberries+','+a.Blueberries+','+a.Boysenberries+','+a.Canary_melons+','+a.Cantaloupes+','+a.Cherimoyas+','+a.Cherries+','+a.Currants+','+a.Dates+','+a.Feijoas+','+a.Figs+','+a.Grapefruit+','+a.Grapes+','+a.Honeydew_melons+','+a.Mulberries+','+a.PawPaws+','+a.Peaches+','+a.Pears+','+a.Plums+','+a.Quince+','+a.Raspberries_black+','+a.Raspberries_red+','+a.Strawberries+','+a.Tayberries+','+a.Watermelon+','+a.Wineberries+','+a.Artichokes+','+a.Arugula+','+a.Asparagus+','+a.Beans_green+','+a.Beans_dry+','+a.Beets+','+a.Beet_greens+','+a.Bok_choy+','+a.Broccoli+','+a.Broccoli_rabe+','+a.Brussels_sprouts+','+a.Cabbage_green+','+a.Cabbage_purple+','+a.Cardoons+','+a.Carrots+','+a.Cauliflower+','+a.Celeriac+','+a.Celery+','+a.Chard+','+a.Chicory+','+a.Chipilín+','+a.Collards+','+a.Corn_Sweet+','+a.Cress+','+a.Cucumbers+','+a.Dandelion_greens+','+a.Eggplant+','+a.Epazote+','+a.Fava_beans+','+a.Fennel+','+a.Garlic_bulb+','+a.Garlic_scapes+','+a.Herbs_fresh+','+a.Hierbamora+','+a.Horseradish+','+a.Jicama+','+a.Jujubes+','+a.Kale+','+a.Kohlrabi+','+a.Lambs_quarters+','+a.Leeks+','+a.Lettuce+','+a.Lima_beans+','+a.Mesclun_mixed_salad_greens+','+a.Mushrooms+','+a.Mustard_greens+','+a.Okra+','+a.Onions+','+a.Parsnips+','+a.Peas_english+','+a.Peas_sugar_snap+','+a.Peas_snow+','+a.Pea_shoots+','+a.Peppers_hot+','+a.Peppers_sweet_green+','+a.Peppers_sweet_red+','+a.Peppers_sweet_purple+','+a.Peppers_sweet_yellow+','+a.Potatoes+','+a.Pumpkins+','+a.Purslane+','+a.Radishes+','+a.Rhubarb+','+a.Rutabagas+','+a.Salsify+','+a.Scallions+','+a.Shallots+','+a.Spinach+','+a.Sprouts+','+a.Squash_aummer+','+a.Squash_winter+','+a.Sunchokes+','+a.Sweet_potatoes+','+a.Sweet_potato_greens+','+a.Tomatillos+','+a.Tomatoes+','+a.Turnips+','+a.Turnip_greens+','+a.Yacon+','+a.Chestnuts+','+a.Peanuts+','+a.Walnuts_black+','+a.Walnuts_english+'\n';
}

var attendance_csv = "Market,Business/Farm Name,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Week 14,Week 15,Week 16,Week 17,Week 18,Week 19,Week 20,Week 21,Week 22,Week 23,Week 24,Week 25,Week 26,Week 27,Week 28,Week 29,Week 30,Week 31,Week 32,Week 33,Week 34,Week 35,Week 36\n";
for(var i in attendance){
	var a = attendance[i];
	attendance_csv += "'"+a.name+"','"+a.farm_name+"',"+(a.week1 ?1:2)+","+(a.week1 ?1:2)+","+(a.week3 ?1:2)+","+(a.week4 ?1:2)+","+(a.week5 ?1:2)+","+(a.week6 ?1:2)+","+(a.week7 ?1:2)+","+(a.week8 ?1:2)+","+(a.week9 ?1:2)+","+(a.week10 ?1:2)+","+(a.week11 ?1:2)+","+(a.week12 ?1:2)+","+(a.week13 ?1:2)+","+(a.week14 ?1:2)+","+(a.week15 ?1:2)+","+(a.week16 ?1:2)+","+(a.week17 ?1:2)+","+(a.week18 ?1:2)+","+(a.week19 ?1:2)+","+(a.week20 ?1:2)+","+(a.week21 ?1:2)+","+(a.week22 ?1:2)+","+(a.week23 ?1:2)+","+(a.week24 ?1:2)+","+(a.week25 ?1:2)+","+(a.week26 ?1:2)+","+(a.week27 ?1:2)+","+(a.week28 ?1:2)+","+(a.week29 ?1:2)+","+(a.week30 ?1:2)+","+(a.week31 ?1:2)+","+(a.week32 ?1:2)+","+(a.week33 ?1:2)+","+(a.week34 ?1:2)+","+(a.week35 ?1:2)+","+(a.week36 ?1:2)+"\n";
}

var events_csv = 'Market,Event Date,Youth Specific?, Total Participants,Number of Participants under 18\n';

for(var i in events){
	var a = events[i];
	events_csv += '"'+a.name+'",'+a.event_date+','+(a.youth_specific ? 'Yes' : 'No')+','+a.participants+','+a.under_18+'\n';
}

var vol_csv = 'Market,Service Date,First Name,Last Name,People Committed,Hours Committed,Assigned Task,People Attended,Arrival Time,Departure Time,Completed Task\n';

for(var i in volunteers){
	var a = volunteers[i];
	vol_csv += '"'+a.name+'",'+a.service_date+','+a.first+','+a.last+','+a.people_committed+','+a.hours_committed+','+a.assigned_task+','+a.people_attended+','+a.arrival+','+a.departure+','+a.completed_task+'\n';
}

var csvs = {
	'profileDoc' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(finalVal),
		download : 'Profiles.csv'
	},
	'visitor_surveys' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_survey),
		download : 'VisitorSurveys.csv'
	}, 
	'visitor_counts' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_count_csv),
		download : 'VisitorCounts.csv'
	},
	'sales_slips' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(sales_slips_csv),
		download : 'SalesSlips.csv'
	},
	'food_assistance' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(food_assistance_csv),
		download : 'FoodAssistance.csv'
	},
	'credit_debit' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(credit_debit_csv),
		download : 'CreditDebit.csv'
	},
	'visitor_application'  : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_application_csv),
		download : 'VisitorApplication.csv'
	},
	'vendor_attendance'  : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(attendance_csv),
		download : 'Attendance.csv'
	},
	'market_events' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(events_csv),
		download : 'Events.csv'
	},
	'volunteers' : {
		file : 'data:text/csv;charset=utf-8,' + encodeURIComponent(vol_csv),
		download : 'Volunteers.csv'
	}
}

function displayCtrl($scope){

	$scope.profile = <%= raw(@profile.to_json) %>;
	$scope.mars = <%= raw(@markets.to_json) %>;
	$scope.user = <%= raw(@user.to_json) %>;

	var seasonalArr = [1,1,1];
	var num;

	$scope.markets = [[null,null,null],[null,null,null],[null,null,null]];

	if($scope.mars != null)
		$scope.mars.forEach(function(entry){
			num = entry.market_num - 1;
			if(entry.market_type == "market")
				$scope.markets[num][0] = entry;
			else if(entry.market_type == "seasonal"){
				if($scope.markets[num][1] == null)
					$scope.markets[num][1] = entry;
				else
					$scope.markets[num][2] = entry;
			}
		});

	//console.log($scope.markets);


	$scope.slide = function(id) {
	  	if ($(id).is(":hidden")) {
	    	$(id).slideDown("slow");
	  	}else{
	    	$(id).slideUp("slow");
	  	}
	};

	$scope.selectFile = function(){
		var csv = csvs[$scope.csv];
		var csv1 = document.getElementById('file'); 
		csv1.setAttribute('href', csv.file);
		csv1.setAttribute('download', csv.download);
	}

}
</script>
