<%= render "shared/menu" %>

<div id="showUser" class="col-md-12" ng-app ng-controller="displayCtrl">
  <div class="main">	 
	<% if !@profile.nil? && !@profile.new_record? %>
	<%= render "shared/nav" %>
	<div class="clearfix"></div>
	<div class="row" ng-show="user.admin">
		<div class='col-md-3'>
			<a id='profileDoc' class='btn btn-default'>Export Profiles</a>
		</div>

		<div class='col-md-3'>
			<a id='visitor_surveys' class='btn btn-default'>Export All Surveys</a>
		</div>
		
		<div class='col-md-3'>
			<a id='visitor_counts' class='btn btn-default'>Export All Visitor Counts</a>
		</div>

		<div class='col-md-3'>
			<a id='sales_slips' class='btn btn-default'>Export All Sales Slips</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="profile-header">
		<h2 ng-click="slide('#info')" class="title" >Profile Info <span ng-if="profile.FMC_member">FMC Member!</span></h2>
		<div class="profile-group" id="info">
			<h3><span>Summary</span></h3>
			<div class="row">
				<div class="col-md-7">
					<label>Name:</label><span class="val"><%= @profile.name %></span>
				</div>
				<div class="col-md-5">
					<label>Year Founded:</label><span class="val"><%= @profile.year %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-7">
					<label>Location:</label><span class="val"><%= @profile.address %> <%= @profile.city %>, <%= @profile.state %> <%= @profile.zip %></span>
				</div>
				<div class="col-md-5">
					<label>County:</label><span class="val"><%= @profile.county %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<h3><span>Indicators for Impact</span></h3>
			<p>Farmers Markets as Leaders in Collaborative Food System Data Collection and Analysis.</p>
			<div class="row">
				<div class="col-md-6">
					<label>Operates year round?:</label><span class="val"><%= @profile.year_round ? "yes" : "no" %></span>
				</div>
				<div class="col-md-6">
					<label>FMC Member?:</label><span class="val"><%= @profile.FMC_member ? "yes" : "no" %></span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<label>Host Organization name:</label><span class="val"><%= @profile.host_name %> <%= @profile.incorporated != "Other" ? @profile.incorporated : @profile.incorporated_other %></span>
				</div>
			</div>
			<div ng-if="profile.mission_statement">
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-3">
						<label ng-if="profile.when_ms">Published in <%= @profile.when_ms %></label>
					</div>
					<div class="col-md-9 val">
						<span ng-if="!profile.ms_none"><%= @profile.name %>'s mission statement can be found on
							<span ng-if="profile.ms_website">the market's webiste, </span>
							<span ng-if="profile.ms_manual">in the market's manual,  </span>
							<span ng-if="profile.ms_market_promos">in the market's promos, </span>
							<span ng-if="profile.ms_other">{{profile.ms_other_text}} </span>
						</span>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<div class="profile-header" ng-if="mars.length > 0">
		<h2 ng-click="slide('#markets')" class="title" >Markets</h2>
		<div class="profile-group" id="markets">
			<div ng-repeat="market in markets">
				<div ng-if="market != [null,null,null]">
					<h3 ng-if="$index == 0"><span>Main Market</span></h3>
					<h3 ng-if="$index != 0"><span>Alternate Location #{{$index}}</span></h3>
					<div class="row">
						<div class="col-xs-4" ng-if="market[0] != null">
							<h5>Primary Seasonal Market</h5>
							<div class="date">Opening Date: {{market[0].start}}</div>
							<div class="date">Opening Date: {{market[0].end}}</div>
						</div>
						<div class="col-xs-4" ng-if="market[1] != null">
							<h5>Seperate Seasonal #1</h5>
							<div class="date">Opening Date: {{market[1].start}}</div>
							<div class="date">Opening Date: {{market[1].end}}</div>
						</div>
						<div class="col-xs-4" ng-if="market[2] != null">
							<h5>Seperate Seasonal #2</h5>
							<div class="date">Opening Date: {{market[2].start}}</div>
							<div class="date">Opening Date: {{market[2].end}}</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>	
			</div>	
		</div>
	</div>
	<% end %>
  </div>

</div>
<script type="text/javascript">


var profile = <%= raw(@profile.to_json) %>;
var markets = <%= raw(@markets.to_json) %>;
var management = <%= raw(@management.to_json) %>;
var accessibility = <%= raw(@accessibility.to_json) %>;
var communities = <%= raw(@communities.to_json) %>;
var surveys = <%= raw(@surveys.to_json) %>;

var profiles = <%= raw(@profiles.to_json) %>;
var visitor_surveys = <%= raw(@visitor_surveys.to_json) %>;
var sales_slips = <%= raw(@sales_slips.to_json) %>;
var visitor_counts = <%= raw(@visitor_counts.to_json) %>;

var visitor_survey_sheet = '';
var visitor_count_sheet = '';
var sales_slip_sheet = '';

for (var key in visitor_counts[0][0]) {if (visitor_counts[0][0].hasOwnProperty(key) && key != 'profile_id' && key != 'id')
 {key = '"' + titleTrans(key) + '",';visitor_count_sheet += key;}}
visitor_count_sheet += '\n';

for (var s = 0; s < visitor_counts.length; s++){
	for(var t = 0; t < visitor_counts[s].length; t++){
		var survey = visitor_counts[s][t];
		for (var key in survey) {
			k = '';
			if (survey.hasOwnProperty(key) && key != 'profile_id' && key != 'id') {
				k = '"' + survey[key] + '",';
				visitor_count_sheet += k;
			}
		}
		visitor_count_sheet += '\n';
	}
	visitor_count_sheet += '\n';// + (s != visitor_surveys.length - 1 ? visitor_surveys[s + 1][0].date : '' )+'",';
}

var csv1 = document.getElementById('visitor_counts');
csv1.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_count_sheet));
csv1.setAttribute('download', 'VisitorCounts.csv');



for (var key in visitor_surveys[0][0]) {if (visitor_surveys[0][0].hasOwnProperty(key) && key != 'profile_id' && key != 'id')
 {key = '"' + titleTrans(key) + '",';visitor_survey_sheet += key;}}
visitor_survey_sheet += '\n';

for (var s = 0; s < visitor_surveys.length; s++){
	for(var t = 0; t < visitor_surveys[s].length; t++){
		var survey = visitor_surveys[s][t];
		//console.log(survey,s,t);
		for (var key in survey) {
			k = '';
			if (survey.hasOwnProperty(key) && key != 'profile_id' && key != 'id') {
				k = '"' + survey[key] + '",';
				visitor_survey_sheet += k;
			}
		}
		visitor_survey_sheet += '\n';
	}
	visitor_survey_sheet += '\n';// + (s != visitor_surveys.length - 1 ? visitor_surveys[s + 1][0].date : '' )+'",';
}

var csv1 = document.getElementById('visitor_surveys');
csv1.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_survey_sheet));
csv1.setAttribute('download', 'VisitorSurveys.csv');

for (var key in sales_slips[0][0]) {if (sales_slips[0][0].hasOwnProperty(key) && key != 'profile_id' && key != 'id')
 {key = '"' + titleTrans(key) + '",';sales_slip_sheet += key;}}
sales_slip_sheet += '\n';

for (var s = 0; s < sales_slips.length; s++){
	for(var t = 0; t < sales_slips[s].length; t++){
		var survey = sales_slips[s][t];
		for (var key in survey) {
			k = '';
			if (survey.hasOwnProperty(key) && key != 'profile_id' && key != 'id') {
				k = '"' + survey[key] + '",';
				sales_slip_sheet += k;
			}
		}
		sales_slip_sheet += '\n';
	}
	sales_slip_sheet += '\n';
}

var csv1 = document.getElementById('sales_slips');
csv1.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(sales_slip_sheet));
csv1.setAttribute('download', 'SalesSlips.csv');

//console.log(visitor_surveys);
var finalVal = '';

for (var key in profile) {if (profile.hasOwnProperty(key)) {key = '"' + key + '",';finalVal += key;}}
for (var key in markets) {if (markets.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in management) {if (management.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in accessibility) {if (accessibility.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}
for (var key in communities) {if (communities.hasOwnProperty(key) && key != 'profile_id') {key = '"' + key + '",';finalVal += key;}}

finalVal += '\n';
var k;

for (var i in profiles){
	var Tprofile = profiles[i].profile;
	var Tmarkets = profiles[i].markets;
	var Tmanagement = profiles[i].management;
	var Taccessibility = profiles[i].accessibility;
	var Tcommunities = profiles[i].community;

	for (var key in Tprofile) {k = '';if (Tprofile.hasOwnProperty(key)) {k = '"' + Tprofile[key] + '",';finalVal += k;}}
	for (var key in Tmarkets) {k = '';if (Tmarkets.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tmarkets[key] + '",';finalVal += k;}}
	for (var key in Tmanagement) {k = '';if (Tmanagement.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tmanagement[key] + '",';finalVal += k;}}
	for (var key in Taccessibility) {k = '';if (Taccessibility.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Taccessibility[key] + '",';finalVal += k;}}
	for (var key in Tcommunities) {k = '';if (Tcommunities.hasOwnProperty(key) && key != 'profile_id') {k = '"' + Tcommunities[key] + '",';finalVal += k;}}
	finalVal += '\n';
}

var pom = document.getElementById('profileDoc');
pom.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(finalVal));
pom.setAttribute('download', 'profile.csv');
//pom.click();

var visitor_survey = '"Date",';

for (var key in surveys[0]) {if (surveys[0].hasOwnProperty(key) && key != 'profile_id' && key != 'id' && key != 'date') {key = '"' + titleTrans(key) + '",';visitor_survey += key;}}
visitor_survey += '\n' + surveys[0].date + '",';

for (var s = 0; s < surveys.length; s++){
	var survey = surveys[s];
	for (var key in survey) {
		k = '';
		if (survey.hasOwnProperty(key) && key != 'profile_id' && key != 'id' && key != 'date') {
			k = '"' + survey[key] + '",';
			visitor_survey += k;
		}
	}
	visitor_survey += '\n' + (s != surveys.length - 1 ? surveys[s + 1].date : '' )+'",';
}

//turn this into hash when we want better descriptions
function titleTrans(key){
	if(key == 'yes28'){
		return 'Arrived in Personal Vehicle';
	}else if(key == 'no28'){
		return 'Did not arrive in Personal Vehicle';
	}else if(key == 'yes13'){
		return 'First Time';
	}else if(key == 'no13'){
		return 'Not First Time';
	}else if(key == 'yes36'){
		return 'Plan to Purchase Fruits';
	}else if(key == 'no36'){
		return 'Does not Plan to Purchase Fruits';
	}else if(key == 'yes7'){
		return 'Plan on Other Activities';
	}else if(key == 'no7'){
		return 'Does not Plan on Other Activities';
	}else
		return key;
}


var csv1 = document.getElementById('visitor_survey');
csv1.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(visitor_survey));
csv1.setAttribute('download', 'VisitorSurveys.csv');

function displayCtrl($scope){

	$scope.profile = <%= raw(@profile.to_json) %>;
	$scope.mars = <%= raw(@markets.to_json) %>;
	$scope.user = <%= raw(@user.to_json) %>;

	var seasonalArr = [1,1,1];
	var num;

	$scope.markets = [[null,null,null],[null,null,null],[null,null,null]];

	if($scope.mars != null)
		$scope.mars.forEach(function(entry){
			num = entry.market_num - 1;
			if(entry.market_type == "market")
				$scope.markets[num][0] = entry;
			else if(entry.market_type == "seasonal"){
				if($scope.markets[num][1] == null)
					$scope.markets[num][1] = entry;
				else
					$scope.markets[num][2] = entry;
			}
		});

	//console.log($scope.markets);


	$scope.slide = function(id) {
	  	if ($(id).is(":hidden")) {
	    	$(id).slideDown("slow");
	  	}else{
	    	$(id).slideUp("slow");
	  	}
	};

}
</script>
