<%= render "shared/menu" %>

<div id="survey" class="col-md-12" ng-app ng-controller="surveyCtrl">
  <div id="summary" class="main money">
	<%= render "shared/nav" %>

  	<h1>Food Assistance Sales</h1>
	<div class="col-md-12">
		<table id="food-assistance">
			<thead>
				<tr>
					<th class="fixed"><label>Transaction Date</label></th>
					<th class="fixed"><label>Benefit Type</label></th>
					<th class="fixed"><label>Last 8 Digits on SNAP Card</label></th>
					<th class="fixed"><label>Amount Redeemed</label></th>
					<th class="fixed"><label>Zip Code</label></th>
					<th class="fixed"><label>First time using benefits?</label></th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="f in foods">
					<td class="fixed"><input ng-model="f.transaction_date" class="tcal" /></td>
					<td class="fixed"><select ng-model="f.type_of_assistance" >
						<option value="SNAP" ng-if="metrics[13] || metrics[14] || metrics[17] || metrics[18]">SNAP</option>
						<option value="WIC FMNP" ng-if="metrics[15]">WIC FMNP</option>
						<option value="WIC CVV" ng-if="metrics[16]">WIC CVV</option>
						<option value="Senior FMNP" ng-if="metrics[20]">Senior FMNP</option>
					</select></td>
					<td class="fixed"><input ng-model="f.digits_of_snap" maxlength="8" /></td>
					<td class="dollar">$ <input ng-model="f.redeemed" placeholder="0.00"/></td>
					<td class="fixed"><input ng-model="f.zip_code" /></td>
					<td class="fixed"><select ng-model="f.first_name" >
						<option value="0">Y</option>
						<option value="1">N</option>
					</select></td>
					<td ng-show="!editmode[''+$index]"><a href="javascript:void(0)" class="btn btn-default" ng-click="editmode[''+$index] = true" >Edit</a></td>
					<td ng-show="editmode[''+$index]"><a ng-click="editRow(f, $index)" class="btn btn-default" href="javascript:void(0)">Update</a></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="9" ng-style="{'padding' : adding ? '0px' : '3px'}"><a href="javascript:void(0)" id="add-span" ng-click="toggleAdd()" ng-show="!adding">+</a></td>
				</tr>
				<tr ng-show="adding">
					<td class="fixed"><input ng-model="newFood.transaction_date"  class="tcal" /></td>
					<td class="fixed"><select ng-model="newFood.type_of_assistance" >
						<option value="SNAP" ng-if="metrics[13] || metrics[14] || metrics[17] || metrics[18]">SNAP</option>
						<option value="WIC FMNP" ng-if="metrics[15]">WIC FMNP</option>
						<option value="WIC CVV" ng-if="metrics[16]">WIC CVV</option>
						<option value="Senior FMNP" ng-if="metrics[20]">Senior FMNP</option>
					</select></td>
					<td class="fixed"><input ng-model="newFood.digits_of_snap" maxlength="8" /></td>
					<td class="dollar">$ <input ng-model="newFood.redeemed" placeholder="0.00" /></td>
					<td class="fixed"><input ng-model="newFood.zip_code" /></td>
					<td class="fixed"><select ng-model="newFood.first_name" >
						<option value="0">Y</option>
						<option value="1">N</option>
					</select></td>
					<td><a ng-click="addRow()" class="btn btn-success" href="javascript:void(0)">Submit</a></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
</div>
<div id="successScreen"> 
	<a href="#" class="suc-text">Success!</a>
</div> 
<div id="cover" ></div>
<%= render "shared/footer" %>
<script type="text/javascript">

function surveyCtrl($scope){
	
	$scope.metrics = <%= raw(@metrics.to_json) %>;
	$scope.foods = <%= raw(@foods.to_json) %>;
	$scope.accessibility = <%= raw(@accessibility.to_json) %>;
	$scope.newFood = {id: -1};
	$scope.adding = false;
	$scope.editmode = {};

	$scope.toggleAdd = function(){
		$scope.adding = !$scope.adding;
	}

	$.each($scope.foods, function(k,v){
		v.first_name = v.first_name ? 1 : 0;
	});

	$scope.editRow = function(row, ind){
		row.transaction_date = $('.tcal')[ind].value;

		$.ajax({
			type: "POST",
			url: "/post_food_assistance",
			data: JSON.stringify(row),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				$scope.foods = data;
				location.href = '#successScreen';
				setTimeout(ret, 1000);
				$scope.newFood = {id: -1};
			},
			error: function(data){
				alert("Error Submitting Data");
			}
		});
	}

	$scope.addRow = function(){
		$scope.newFood.transaction_date = $('.tcal')[$scope.foods.length].value;

		$.ajax({
			type: "POST",
			url: "/post_food_assistance",
			data: JSON.stringify($scope.newFood),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				$scope.foods = data;
				location.href = '#successScreen';
				setTimeout(ret, 1000);
				$scope.newFood = {id: -1};
			},
			error: function(data){
				alert("Error Submitting Data");
			}
		});
	}

	function ret(){
		window.location.reload();
	}
}

</script>
