<%= render "shared/menu" %>

<div id="survey" class="col-md-12" ng-app ng-controller="surveyCtrl">
  <div id="summary" class="main money">

	<%= render "shared/nav" %>

  	<h1>Vendor Attendance (Metric 5)</h1>
  	<div class="row">
  		<div class="col-md-7">
			<span class="step">Step 1</span> Add your vendor information 
		</div>
		<div class="col-md-5">
			<a class="plus" href="javascript:void(0)" ng-click="addRow()">+</a>
			<a class="minus" href="javascript:void(0)" ng-click="removeRow()">-</a>
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-7">
			<span class="step">Step 2</span> Add the number of days that your market is open
		</div>
		<div class="col-md-5">
			<a class="plus" href="javascript:void(0)" ng-click="addCol()">+</a>
			<a class="minus" href="javascript:void(0)" ng-click="removeCol()">-</a>
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12" style="  margin-bottom: 25px;"> 		
	  		<span class="step">Step 3</span> Enter vendor attendance records by checking the box for the days that each vendor sold at the market. 
	  	</div>
  	</div>
  	<div class="row">
	  	<div class="col-md-7">
	  		<span class="step">Step 4</span> Save the page after every data entry
	  	</div> 
	  	<div class="col-md-3">
			<a class="btn btn-success" href="javascript:void(0)" style="position: relative;bottom: 10px;" ng-click="submit()">Save</a>
		</div>
  	</div>
	<div class="col-md-12">
		<div id="attnd-table" class="row"><!-- id="attendance-table" -->
			<!--table>
				<thead >
					<tr>
						<th class="text-inp" ><label>Business/Farm Name</label></th>
						<th class="text-inp" comment="left: 130px;" ><label>Owner Last Name</label></th>
						<th ng-repeat="col in cLen track by $index" style="padding: 0px 10px;" ><span comment-style="{'margin-left' : ($index == 0 ? 270: 0) + 'px' }">{{($index + 1)}}</span></th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="r in research">
						<td class="text-inp" ng-style="{top : $index * 29 + 54}"><input ng-model="r.farm_name" /></td>
						<td class="text-inp" ng-style="{top : $index * 29 + 54}" style="left: 130px;"><input ng-model="r.owner_last"  /></td>
						<td ng-repeat="c in cLen track by $index" ><input class="int-input" ng-model="r['week'+($index + 1)]" type="checkbox" comment-style="{'margin-left' : ($index == 0 ? 260: 0) + 'px' }"/></td>
					</tr>
				</tbody>
			</table-->

			<table cellspacing="0" cellpadding="0" border="0" >
			  <tr>
			    <td id="firstTd">g
			    </td>
			    <td>
			        <table cellspacing="0" cellpadding="0" border="1" >
			          <tr>
			            <td class="tableHeader" ng-repeat="col in cLen track by $index" style="padding: 0px 10px;" ><span comment-style="{'margin-left' : ($index == 0 ? 270: 0) + 'px' }">{{($index + 1)}}</span></td>
			          </tr>
			        </table>
			    </td>
			  </tr>
			  <tr>
			  
			    <td valign="top">
			        <table width="200px" cellspacing="0" cellpadding="0" border="1" >
			        	<tr ng-repeat="r in research">
							<td class="text-inp tableFirstCol" ng-style="{top : $index * 29 + 54}"><input ng-model="r.farm_name" /></td>
						</tr>
			        </table>
			    </td>
			    
			    <td valign="top">
			        <table width="500px" cellspacing="0" cellpadding="0" border="1" >
			          <tr ng-repeat="r in research" id="firstTr">
						<td ng-repeat="c in cLen track by $index" class="dayCell" ><input class="int-input" ng-model="r['week'+($index + 1)]" type="checkbox" comment-style="{'margin-left' : ($index == 0 ? 260: 0) + 'px' }"/></td>
					</tr>
			        </table>
			    </td>
			  </tr>
			</table>
			<!--div class="left-table">
				<table>
					<thead >
						<tr>
							<td style="min-width: 130px;"><label>Business/Farm Name</label></td>
							<td style="min-width: 130px;"><label>Owner Last Name</label></td>
						</tr>
					</thead>
					<tbody >
						<tr ng-repeat="r in research">
							<td style="min-width: 130px;" class="text-inp"><input ng-model="r.farm_name" /></td>
							<td style="min-width: 130px;" class="text-inp"><input ng-model="r.owner_last"  /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="right-table">
				<table>
					<thead >
						<tr>
							<th ng-repeat="col in cLen track by $index" style="padding: 0px 10px;" >{{($index + 1)}}</th>
						</tr>
					</thead>
					<tbody >
						<tr ng-repeat="r in research">
							<td ng-repeat="c in cLen track by $index"><input class="int-input" ng-model="r['week'+($index + 1)]" type="checkbox" /></td>
						</tr>
					</tbody>
				</table>
			</div-->
		</div>
	</div>
  </div>
</div>
<div id="successScreen"> 
	<a href="#" class="suc-text">Success!</a>
</div> 
<div id="cover" ></div>
<%= render "shared/footer" %>

<script type="text/javascript">

$(document).ready(function(){
  fnAdjustTable();
});

fnAdjustTable = function(){

  var colCount = $('#firstTr>td').length; //get total number of column

  var m = 0;
  var n = 0;
  var brow = 'mozilla';
  
  jQuery.each(jQuery.browser, function(i, val) {
    if(val == true){
      brow = i.toString();
    }
  });
  
  $('.tableHeader').each(function(i){
    if (m < colCount){

      if (brow == 'mozilla'){
        $('#firstTd').css("width",$('.tableFirstCol').innerWidth());//for adjusting first td
        $(this).css('width',$('#table_div td:eq('+m+')').innerWidth());//for assigning width to table Header div
      }
      else if (brow == 'msie'){
        $('#firstTd').css("width",$('.tableFirstCol').width());
        $(this).css('width',$('#table_div td:eq('+m+')').width()-2);//In IE there is difference of 2 px
      }
      else if (brow == 'safari'){
        $('#firstTd').css("width",$('.tableFirstCol').width());
        $(this).css('width',$('#table_div td:eq('+m+')').width());
      }
      else {
        $('#firstTd').css("width",$('.tableFirstCol').width());
        $(this).css('width',$('#table_div td:eq('+m+')').innerWidth());
      }
    }
    m++;
  });

  $('.tableFirstCol').each(function(i){
    if(brow == 'mozilla'){
      $(this).css('height',$('#table_div td:eq('+colCount*n+')').outerHeight());//for providing height using scrollable table column height
    }
    else if(brow == 'msie'){
      $(this).css('height',$('#table_div td:eq('+colCount*n+')').innerHeight()-2);
    }
    else {
      $(this).css('height',$('#table_div td:eq('+colCount*n+')').height());
    }
    n++;
  });

};

//function to support scrolling of title and first column
fnScroll = function(){
  $('#divHeader').scrollLeft($('#table_div').scrollLeft());
  $('#firstcol').scrollTop($('#table_div').scrollTop());
};


function surveyCtrl($scope){
	
	$scope.metrics = <%= raw(@metrics.to_json) %>;
	$scope.research = <%= raw(@research.to_json) %>;

	if($scope.research == [])
		$scope.research [{}];

	$scope.columns = 0;
	$.each($scope.research, function(k,v){
		for(var i = 1; i < 37; i++){
			if(v['week'+i] && v['week'+i] != null)
				$scope.research[k]['week'+i] = true;

			if(v['week'+i] && v['week'+i] != null && i > $scope.columns){	
				$scope.columns = i;
			}
			else if(!(v['week'+i]))
				break;
		}
	});
	$scope.cLen = range(1,$scope.columns);

	$scope.addCol = function(){
		if($scope.columns < 36)
			$scope.columns++;
		$scope.cLen = range(1,$scope.columns);
	}

	$scope.removeCol = function(){
		if($scope.columns > 0)
			$scope.columns--;
		$scope.cLen = range(1,$scope.columns);
	}

	$scope.addRow = function(){
		if($scope.research.length < 150)
			$scope.research.push({});
	}

	$scope.removeRow = function(){
		if($scope.research.length > 0)
			$scope.research.pop();
	}

	function range(min, max, step){
		if(max < min) return [];
	    step = step || 1;
	    var input = [];
	    for (var i = min; i <= max; i += step) input.push(i);
	    return input;
	  };

	$scope.submit = function(){
		console.log($scope.research);
		$.ajax({
			type: "POST",
			url: "/post_misc_research",
			data: JSON.stringify($scope.research),
			contentType: "application/json",
			success: function(data){
				console.log(data);
				location.href = '#successScreen';
				setTimeout(ret, 1000);
			},
			error: function(data){
				alert("Error Submitting Data");
				location.href = '#successScreen';
				setTimeout(ret, 1000);
			}
		});
	}

	$scope.reset = function(){
		$scope.survey = {};
	}

	function ret(){
		location.href = "#";
	}
}

</script>
