<%= render "shared/menu" %>

<div id="showUser" class="col-md-12" ng-app ng-controller="profileCtrl">
  <div  id="summary" class="col-md-offset-3 col-md-6 main">
  	<div class="col-md-10 col-md-offset-1">
	  	<div class="progress" style="width:96%">
		  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
		  </div>
		</div>
		<ul class="nav">
			<li>
				<a ng-click="changeTab(1)">1</a>
			</li>
			<li>
				<a ng-click="changeTab(2)">2</a>
			</li>
			<li>
				<a ng-click="changeTab(3)">3</a>
			</li>
			<li>
				<a ng-click="changeTab(4)">4</a>
			</li>
		</ul>
	</div>
	<%= form_for :profile, url: "/post_info" do |f| %>
	<div ng-show="tab == 1" class="col-md-12">
		<div class="row">
			<h1>Profile Summary</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-9">
				<label>Name of Market</label>
				<%= f.text_field :name %>
			</div>
			<div class="col-md-3">
				<label>County</label>
				<%= f.text_field :county %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-7">
				<label>Address</label>
				<%= f.text_field :address %>
			</div>
			<div class="col-md-3">
				<label>City</label>
				<%= f.text_field :city %>
			</div>
			<div class="col-md-2">
				<label>State</label>
				<%= f.text_field :state %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-2">
				<label class="col-md-6">Year</label>
				<%= f.text_field :year, "class" => "col-md-6" %>
			</div>
			<div class="col-md-4" style="margin-top:20px">
				<label>Multiple Locations</label><%= f.check_box :multiple_locs, "ng-model" => "profile.multiple_locs" %>
			</div>
			<div class="col-md-3" style="margin-top:20px">
				<label>Year Round</label><%= f.check_box :year_round %>
			</div>
			<div class="col-md-3" style="margin-top:20px">
				<label>FMC Member</label><%= f.check_box :FMC_member, "ng-model" => "profile.FMC_member" %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="drop-but" ng-click="locSlide('#l1')">Primary market season</h4>
				<div id="l1" class="loc-drop">
					<div class="col-md-12">
						<div class="col-md-4">
							<h5>Primary Seasonal Market</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market1.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market1.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market1,'m',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
						<div class="col-md-4">
							<h5>Seperate Seasonal Market #1</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market11.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market11.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market11,'s',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
						<div class="col-md-4">
							<h5>Seperate Seasonal Market #2</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market12.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market12.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market12,'s',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div ng-if="profile.multiple_locs">
					<h4 class="drop-but" ng-click="locSlide('#l2')">Alternate Location #1</h4>
					<div id="l2" class="loc-drop">
						<div class="col-md-12">
							<div class="col-md-4">
								<h5>Primary Seasonal Market</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market2.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market2.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market2,'m',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #1</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market21.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market21.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market21,'s',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #2</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market22.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market22.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market22,'s',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div ng-if="profile.multiple_locs">
					<h4 class="drop-but" ng-click="locSlide('#l3')">Alternate Location #2</h4>
					<div id="l3" class="loc-drop">
						<div class="col-md-12">
							<div class="col-md-4">
								<h5>Primary Seasonal Market</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market3.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market3.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market3,'m',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #1</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market31.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market31.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market31,'s',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #2</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market32.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market32.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market32,'s',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-6">
				<label>Host organization name (if different from market name)</label>
				<%= f.text_field :host_name %>
			</div>
			<div class="col-md-6">
				<label>How is the market incorporated?</label>
				<%= select_tag "profile[incorporated]", options_for_select(["LLC","501(c)(3)", "501(c)(5)","501(c)(6)","Sole proprietorship","Cooperative","Don’t know","Other"]), "ng-model" => "profile.incorporated" %>
				<div ng-show ="profile.incorporated == 'Other'">
					<label>Please Explain...</label>
					<%= f.text_field :incorporated_other %>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<label>Please list any other local, regional, state, or national associations of which your organization is a dues-paying member:</label>
				<%= f.text_field :other_associations %>
			</div>		
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-7">
					<label>Does your market have a mission statement?</label>
				</div>
				<div class="col-md-2">
					<%= f.check_box :mission_statement, "ng-model" => "profile.mission_statement", "ng-click" => "locSlide('#mission_statement')" %>
				</div>
				<div class="col-md-12">
					<div id="mission_statement">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="full">
									Where is the mission statement located? Select all that apply.
								</div>
								<div class="full">
									<label>Website</label><%= f.check_box :ms_website %>
								</div>
								<div class="full">
									<label>Manual</label><%= f.check_box :ms_manual %>
								</div>
								<div class="full">
									<label>Market promotional materials</label><%= f.check_box :ms_market_promos %>
								</div>
								<div class="full">
									<label>None of the above</label><%= f.check_box :ms_none %>
								</div>
								<div class="full">
									<label>Other (please explain):</label><%= f.check_box :ms_other, "ng-model" => "profile.ms_other" %>
								</div>
								<div class="full">
									<%= f.text_field :ms_other_text, "ng-show" => "profile.ms_other" %>
								</div>
							</div>
							<div class="col-md-6">
								<label>When was the mission statement written or last updated?</label>
								<%= f.text_field :when_ms, "placeholder" => "yyyy-mm-dd" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<label>Who makes decisions on market day about changes or exceptions to market policy?</label>
				<%= f.text_field :person_decisions %>
			</div>
			<div class="col-md-12">
				<label>List the entity or person(s) that responds to project partners, funders, or municipal requests for information about the market</label>
				<%= f.text_area :list_of_persons %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<!--%= #f.submit :Update, :class => "btn btn-default", :style => "margin-top: 10px; width: 100%;" %-->
				<a href="javascript:void" class="btn btn-default" ng-click="changeTab(2)" style="margin-top: 10px; width: 100%;">next</a>
			</div>
			<div class="col-md-4"> 
				<!--a class="btn btn-primary" ng-click="rightScroll('#summary')">sfsfd</a-->
			</div>
		</div>
	</div>
	<div ng-show="tab == 2" class="col-md-12">
		<div class="row">
			<h1>Management</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-4 skinny">
				<h4>Total average hours worked by...</h4>
				<div class="col-md-12">
					<label>Unpaid/volunteer staff on market day:</label>
					<input type="text" ng-model="management.ave_unpaid_market"/>
				</div>
				<div class="col-md-12">
					<label>Unpaid/volunteer staff on NON market days:</label>
					<input type="text" ng-model="management.ave_unpaid_non_market"/>
				</div>
				<div class="col-md-12">
					<label>Paid staff on market day:</label>
					<input type="text" ng-model="management.ave_paid_market"/>
				</div>
				<div class="col-md-12">
					<label>Paid staff on NON market days:</label>
					<input type="text" ng-model="management.ave_paid_non_market"/>
				</div>
			</div>
			<div class="col-md-8">
				<p>What roles, paid and unpaid, do you have at your market? (select all that apply):</p>
				<table>
					<thead>
						<th></th>
						<th>Paid</th>
						<th>Unpaid</th>
					</thead>
					<tbody>
						<tr>
							<td>Manager, full-time, year-round</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[0]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[1]" /></td>
						</tr>
						<tr>
							<td>Manager, part-time, year round</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[2]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[3]" /></td>
						</tr>
						<tr>
							<td>Manager, full-time, seasonal</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[4]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[5]" /></td>
						</tr>
						<tr>
							<td>Manager, part-time, seasonal</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[6]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[7]" /></td>
						</tr>
						<tr>
							<td>Volunteer (s)</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[8]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[9]" /></td>
						</tr>
						<tr>
							<td>Other (please explain)</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[10]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[11]" /></td>
						</tr>
					</tbody>
				</table>
				<div ng-if="positions[10] || positions[11]">
					<label>Other Position:</label>
					<input type="text" ng-model="management.other"/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row" style="margin: 10px;">
			<label class="col-md-4">Number of staff during primary season:</label>
			<input class="col-md-2" type="text" ng-model="management.num_staff" style="width: 10%;"/>
			<label class="col-md-4">Amount of annual budget allocated for paid staff:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_budget_for_staff" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Annual operating budget:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_operating_budget" placeholder="$" style="width: 10%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<h1>Vendors</h1>
			<h3>Vendor participation fees (complete all that apply)</h3>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<label class="col-md-4">Annual application fee:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_application_fee" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Annual flat rate membership fee:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_membership_fee" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Percentage of sales:</label>
			<input class="col-md-2" type="text" ng-model="management.percentage_sales" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">No charge to vendors:</label>
			<input class="col-md-2" type="text" ng-model="management.no_charge" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Other (please explain):</label>
			<input class="col-md-2" type="text" ng-model="management.other_charge" placeholder="$" style="width: 10%;"/>
			<input ng-show="management.other_charge != '' || management.other_charge != null" class="col-md-4" type="text" ng-model="management.other_charge_explained" style="width: 40%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<label class="col-md-8">Average number of vendors during the primary season</label>
			<input class="col-md-2" type="text" ng-model="management.ave_num_vendors" style="width: 10%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<a href="javascript:void" class="btn btn-default" ng-click="addMan()" style="margin-top: 10px; width: 100%;">next</a>
			</div>
		</div>
	</div>
	<div ng-show="tab == 3" class="col-md-12">
		<div class="row">
			<h1>Accessibility</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
		</div>
	</div>
	<% end %>
  </div>
  <div class="col-md-3">
  	<%= render "shared/logged_in" %>
  </div>
  <div id="management" class="col-md-offset-3 col-md-6 main" style="left:100%; display:none">
	<div id="form-ctrl" class="col-md-12">
		<div class="row">
			<div class="col-md-9">
				<label>Name of Market</label>
			</div>
		</div>
	</div>
  </div>
</div>
<script type="text/javascript">
var host = "http://localhost:3000/"
//var host = "https://fathomless-bayou-8856.herokuapp.com/";

function profileCtrl($scope){

	$scope.profile = <%= raw(@profile.to_json) %>;
	$scope.markets = <%= raw(@markets.to_json) %>;
	$scope.management = <%= raw(@management.to_json) %>;
	$scope.positions = <%= raw(@positions.to_json) %>;

	console.log($scope.profile);
	console.log($scope.markets);
	console.log($scope.management);
	console.log($scope.positions);

	$scope.tab = 1;

	var seasonalArr = [1,1,1];
	var base;

	if($scope.markets != null)
		$scope.markets.forEach(function(entry){
			base = 'market' + entry.market_num;
			if(entry.market_type == "seasonal"){
				base += seasonalArr[entry.market_num - 1];
				seasonalArr[entry.market_num - 1]++;
			}
			if(entry.market_num != null)
				$scope[base] = entry;
		});

	$scope.rightScroll = function(panel){
		$(panel).animate({
		    right: "100%"
		});
	};

	$scope.changeTab = function(tab){
		$scope.tab = tab;
		$('.progress-bar-success').width((tab*25) + '%');
	};

	$scope.locSlide = function(id) {
	  	if ($(id).is(":hidden")) {
	    	$(id).slideDown("slow");
	  	}else{
	    	$(id).slideUp("slow");
	  	}
	};

	if($scope.profile.mission_statement)
		$scope.locSlide('#mission_statement');

	$scope.addMarket = function(market,type,market_num){
		market.profile_id = <%= @profile.id %>
		market.market_type = type == 'm' ? 'market' : 'seasonal';
		market.market_num = market_num;

		$.ajax({
			type: "POST",
			url: host + "post_market",
			data: market,
			success: function(data){
				console.log(data);
			}
		});
	};

	$scope.addMan = function(){
		$scope.changeTab(3);
		$scope.management.pos = $scope.positions;

		$.ajax({
			type: "POST",
			url: host + "post_managements",
			data: $scope.management,
			success: function(data){
				console.log(data);
			}
		});
	};
}
</script>
