<%= render "shared/menu" %>

<div id="showUser" class="col-md-12" ng-app ng-controller="profileCtrl">
  <div id="summary" class="main">
  	<div class="col-md-10 col-md-offset-1">
	  	<div class="progress" style="width:96%">
		  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
		  </div>
		</div>
		<ul class="nav">
			<li>
				<a ng-click="changeTab(1)">1</a>
			</li>
			<li>
				<a ng-click="changeTab(2)">2</a>
			</li>
			<li>
				<a ng-click="changeTab(3)">3</a>
			</li>
			<li>
				<a ng-click="changeTab(4)">4</a>
			</li>
		</ul>
	</div>
	<%= form_for :profile, url: "/post_info" do |f| %>
	<div ng-show="tab == 1" class="col-md-12">
		<div class="row">
			<h1>Profile Summary</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-9">
				<label>Name of Market</label>
				<%= f.text_field :name %>
			</div>
			<div class="col-md-3">
				<label>County</label>
				<%= f.text_field :county %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-7">
				<label>Address</label>
				<%= f.text_field :address %>
			</div>
			<div class="col-md-3">
				<label>City</label>
				<%= f.text_field :city %>
			</div>
			<div class="col-md-2">
				<label>State</label>
				<%= f.text_field :state %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-2">
				<label class="col-md-6">Year</label>
				<%= f.text_field :year, "class" => "col-md-6" %>
			</div>
			<div class="col-md-4" style="margin-top:20px">
				<label>Multiple Locations</label><%= f.check_box :multiple_locs, "ng-model" => "profile.multiple_locs" %>
			</div>
			<div class="col-md-3" style="margin-top:20px">
				<label>Year Round</label><%= f.check_box :year_round %>
			</div>
			<div class="col-md-3" style="margin-top:20px">
				<label>FMC Member</label><%= f.check_box :FMC_member, "ng-model" => "profile.FMC_member" %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="drop-but" ng-click="locSlide('#l1')">Primary market season</h4>
				<div id="l1" class="loc-drop">
					<div class="col-md-12">
						<div class="col-md-4">
							<h5>Primary Seasonal Market</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market1.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market1.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market1,'m',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
						<div class="col-md-4">
							<h5>Seperate Seasonal Market #1</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market11.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market11.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market11,'s',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
						<div class="col-md-4">
							<h5>Seperate Seasonal Market #2</h5>
							<label>Opening Date</label>
							<input type="text" ng-model="market12.start" placeholder="yyyy-mm-dd">

							<label>Closing Date</label>
							<input type="text" ng-model="market12.end" placeholder="yyyy-mm-dd">

							<a ng-click="addMarket(market12,'s',1)" href="javascript:void" class="btn btn-default">Add Market</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div ng-if="profile.multiple_locs">
					<h4 class="drop-but" ng-click="locSlide('#l2')">Alternate Location #1</h4>
					<div id="l2" class="loc-drop">
						<div class="col-md-12">
							<div class="col-md-4">
								<h5>Primary Seasonal Market</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market2.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market2.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market2,'m',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #1</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market21.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market21.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market21,'s',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #2</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market22.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market22.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market22,'s',2)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div ng-if="profile.multiple_locs">
					<h4 class="drop-but" ng-click="locSlide('#l3')">Alternate Location #2</h4>
					<div id="l3" class="loc-drop">
						<div class="col-md-12">
							<div class="col-md-4">
								<h5>Primary Seasonal Market</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market3.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market3.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market3,'m',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #1</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market31.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market31.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market31,'s',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
							<div class="col-md-4">
								<h5>Seperate Seasonal Market #2</h5>
								<label>Opening Date</label>
								<input type="text" ng-model="market32.start" placeholder="yyyy-mm-dd">

								<label>Closing Date</label>
								<input type="text" ng-model="market32.end" placeholder="yyyy-mm-dd">

								<a ng-click="addMarket(market32,'s',3)" href="javascript:void" class="btn btn-default">Add Market</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-6">
				<label>Host organization name (if different from market name)</label>
				<%= f.text_field :host_name %>
			</div>
			<div class="col-md-6">
				<label>How is the market incorporated?</label>
				<%= select_tag "profile[incorporated]", options_for_select(["LLC","501(c)(3)", "501(c)(5)","501(c)(6)","Sole proprietorship","Cooperative","Don’t know","Other"]), "ng-model" => "profile.incorporated" %>
				<div ng-show ="profile.incorporated == 'Other'">
					<label>Please Explain...</label>
					<%= f.text_field :incorporated_other %>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<label>Please list any other local, regional, state, or national associations of which your organization is a dues-paying member:</label>
				<%= f.text_field :other_associations %>
			</div>		
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-7">
					<label>Does your market have a mission statement?</label>
				</div>
				<div class="col-md-2">
					<%= f.check_box :mission_statement, "ng-model" => "profile.mission_statement", "ng-click" => "locSlide('#mission_statement')" %>
				</div>
				<div class="col-md-12">
					<div id="mission_statement">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="full">
									Where is the mission statement located? Select all that apply.
								</div>
								<div class="full">
									<label>Website</label><%= f.check_box :ms_website %>
								</div>
								<div class="full">
									<label>Manual</label><%= f.check_box :ms_manual %>
								</div>
								<div class="full">
									<label>Market promotional materials</label><%= f.check_box :ms_market_promos %>
								</div>
								<div class="full">
									<label>None of the above</label><%= f.check_box :ms_none %>
								</div>
								<div class="full">
									<label>Other (please explain):</label><%= f.check_box :ms_other, "ng-model" => "profile.ms_other" %>
								</div>
								<div class="full">
									<%= f.text_field :ms_other_text, "ng-show" => "profile.ms_other" %>
								</div>
							</div>
							<div class="col-md-6">
								<label>When was the mission statement written or last updated?</label>
								<%= f.text_field :when_ms, "placeholder" => "yyyy-mm-dd" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<label>Who makes decisions on market day about changes or exceptions to market policy?</label>
				<%= f.text_field :person_decisions %>
			</div>
			<div class="col-md-12">
				<label>List the entity or person(s) that responds to project partners, funders, or municipal requests for information about the market</label>
				<%= f.text_area :list_of_persons %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<!--%= #f.submit :Update, :class => "btn btn-default", :style => "margin-top: 10px; width: 100%;" %-->
				<a href="javascript:void" class="btn btn-default" ng-click="changeTab(2)" style="margin-top: 10px; width: 100%;">next</a>
			</div>
		</div>
	</div>
	<div ng-show="tab == 2" class="col-md-12">
		<div class="row">
			<h1>Management</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-4 skinny">
				<h4>Total average hours worked by...</h4>
				<div class="col-md-12">
					<label>Unpaid/volunteer staff on market day:</label>
					<input type="text" ng-model="management.ave_unpaid_market"/>
				</div>
				<div class="col-md-12">
					<label>Unpaid/volunteer staff on NON market days:</label>
					<input type="text" ng-model="management.ave_unpaid_non_market"/>
				</div>
				<div class="col-md-12">
					<label>Paid staff on market day:</label>
					<input type="text" ng-model="management.ave_paid_market"/>
				</div>
				<div class="col-md-12">
					<label>Paid staff on NON market days:</label>
					<input type="text" ng-model="management.ave_paid_non_market"/>
				</div>
			</div>
			<div class="col-md-8">
				<p>What roles, paid and unpaid, do you have at your market? (select all that apply):</p>
				<table>
					<thead>
						<th></th>
						<th>Paid</th>
						<th>Unpaid</th>
					</thead>
					<tbody>
						<tr>
							<td>Manager, full-time, year-round</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[0]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[1]" /></td>
						</tr>
						<tr>
							<td>Manager, part-time, year round</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[2]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[3]" /></td>
						</tr>
						<tr>
							<td>Manager, full-time, seasonal</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[4]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[5]" /></td>
						</tr>
						<tr>
							<td>Manager, part-time, seasonal</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[6]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[7]" /></td>
						</tr>
						<tr>
							<td>Volunteer (s)</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[8]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[9]" /></td>
						</tr>
						<tr>
							<td>Other (please explain)</td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[10]" /></td>
							<td style="text-align: center;"><input type="checkbox" ng-model="positions[11]" /></td>
						</tr>
					</tbody>
				</table>
				<div ng-if="positions[10] || positions[11]">
					<label>Other Position:</label>
					<input type="text" ng-model="management.other"/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row" style="margin: 10px;">
			<label class="col-md-4">Number of staff during primary season:</label>
			<input class="col-md-2" type="text" ng-model="management.num_staff" style="width: 10%;"/>
			<label class="col-md-4">Amount of annual budget allocated for paid staff:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_budget_for_staff" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Annual operating budget:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_operating_budget" placeholder="$" style="width: 10%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<h1>Vendors</h1>
			<h4>Vendor participation fees (complete all that apply)</h4>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<label class="col-md-4">Annual application fee:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_application_fee" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Annual flat rate membership fee:</label>
			<input class="col-md-2" type="text" ng-model="management.annual_membership_fee" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Percentage of sales:</label>
			<input class="col-md-2" type="text" ng-model="management.percentage_sales" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">No charge to vendors:</label>
			<input class="col-md-2" type="text" ng-model="management.no_charge" placeholder="$" style="width: 10%;"/>
			<label class="col-md-4">Other (please explain):</label>
			<input class="col-md-2" type="text" ng-model="management.other_charge" placeholder="$" style="width: 10%;"/>
			<input ng-show="management.other_charge != '' || management.other_charge != null" class="col-md-4" type="text" ng-model="management.other_charge_explained" style="width: 40%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<label class="col-md-8">Average number of vendors during the primary season</label>
			<input class="col-md-2" type="text" ng-model="management.ave_num_vendors" style="width: 10%;"/>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<a href="javascript:void" class="btn btn-default" ng-click="addMan()" style="margin-top: 20px; width: 100%;">next</a>
			</div>
		</div>
	</div>
	<div ng-show="tab == 3" class="col-md-12">
		<div class="row">
			<h1>Accessibility</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-5">
				<h4>Access features and amenities</h4>
				<table>
					<tr>
						<td><label>Adjacent bus or subway:</label></td>
						<td><input type="checkbox" ng-model="accessibility.bus_sub" /></td>
					</tr>
					<tr>
						<td><label>Bicycle racks:</label></td>
						<td><input type="checkbox" ng-model="accessibility.bike_racks" /></td>
					</tr>
					<tr>
						<td><label>Sidewalks:</label></td>
						<td><input type="checkbox" ng-model="accessibility.sidewalks" /></td>
					</tr>
					<tr>
						<td><label>Free parking:</label></td>
						<td><input type="checkbox" ng-model="accessibility.free_parking" /></td>
					</tr>
					<tr>
						<td><label>Roof/permanent covering:</label></td>
						<td><input type="checkbox" ng-model="accessibility.roof" /></td>
					</tr>
					<tr>
						<td><label>Other (please explain):</label></td>
						<td><input type="checkbox" ng-model="accessibility.other_access" /></td>
					</tr>
					<tr ng-show="accessibility.other_access">
						<td><input type="text" ng-model="accessibility.other_access_explain" /></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="col-md-7">
				<h4>Features, amenities and services</h4>
				<table class="plain-table">
					<tr>
						<td class="first">Children-specific activities</td>
						<td>Yes <input type="radio" ng-model="accessibility.children_activities" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.children_activities" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Live music</td>
						<td>Yes <input type="radio" ng-model="accessibility.live_music" value="true"/></td>
						<td>No <input type="radio" ng-model="accessibility.live_music" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Food demonstrations</td>
						<td>Yes <input type="radio" ng-model="accessibility.food_demonstrations" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.food_demonstrations" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Restrooms (including portable ones) on site</td>
						<td>Yes <input type="radio" ng-model="accessibility.restrooms" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.restrooms" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.restrooms == 'true'">
						<td class="first">How Many?</td>
						<td><input style="width: 30px;" type="text" ng-model="accessibility.restroom_count" /></td>
						<td></td>
					</tr>
					<tr>
						<td class="first">Other (please explain)</td>
						<td>Yes <input type="radio" ng-model="accessibility.other_features" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.other_features" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.other_features == 'true'">
						<td><input type="text" ng-model="accessibility.other_features_explain"/></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-7" style="margin-top: 20px;">
				<table>
					<tr>
						<td class="first">Does your market accept SNAP/EBT?</td>
						<td>Yes <input type="radio" ng-model="accessibility.accept_SNAP" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.accept_SNAP" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.accept_SNAP == 'true'">	
						<td>
							Who offers SNAP at your market?
						</td>
						<td>
							<select ng-model="accessibility.SNAP_offer">
								<option value="The market organization and no vendors">The market organization and no vendors</option>
								<option value="The market organization and some vendors">The market organization and some vendors</option>
								<option value="Not the market organization and one or more vendors">Not the market organization and one or more vendors</option>
								<option value="Other (please explain)">Other (please explain)</option>
							</select>
						</td>
						<td>
						</td>
					</tr>
					<tr ng-show="accessibility.SNAP_offer == 'Other (please explain)'">	
						<td></td><td>
							<input type="text" ng-model="accessibility.SNAP_offer_other"/>
						</td><td></td>
					</tr>
					<tr>
						<td class="first">Does your market accept WIC FMNP?</td>
						<td>Yes <input type="radio" ng-model="accessibility.accept_FMNP" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.accept_FMNP" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Is WIC FMNP available in your area? </td>
						<td>Yes <input type="radio" ng-model="accessibility.FMNP_available" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.FMNP_available" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.accept_FMNP == 'true'">	
						<td >
							Who offers WIC FMNP at your market?
						</td>
						<td>
							<select ng-model="accessibility.FMNP_offer">
								<option value="The market organization and no vendors">The market organization and no vendors</option>
								<option value="The market organization and some vendors">The market organization and some vendors</option>
								<option value="Not the market organization and one or more vendors">Not the market organization and one or more vendors</option>
								<option value="Other (please explain)">Other (please explain)</option>
							</select>
						</td>
						<td>
						</td>
					</tr>
					<tr ng-show="accessibility.FMNP_offer == 'Other (please explain)'">	
						<td></td><td>
							<input type="text" ng-model="accessibility.FMNP_offer_other"/>
						</td><td></td>
					</tr>
					<tr>
						<td class="first">Does your market accept Senior FMNP?</td>
						<td>Yes <input type="radio" ng-model="accessibility.accept_FMNP_senior" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.accept_FMNP_senior" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Is Senior FMNP available in your area? </td>
						<td>Yes <input type="radio" ng-model="accessibility.FMNP_senior_available" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.FMNP_senior_available" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.accept_FMNP_senior == 'true'">	
						<td >
							Who offers Senior FMNP at your market?
						</td>
						<td>
							<select ng-model="accessibility.FMNP_senior_offer">
								<option value="The market organization and no vendors">The market organization and no vendors</option>
								<option value="The market organization and some vendors">The market organization and some vendors</option>
								<option value="Not the market organization and one or more vendors">Not the market organization and one or more vendors</option>
								<option value="Other (please explain)">Other (please explain)</option>
							</select>
						</td>
						<td>
						</td>
					</tr>
					<tr ng-show="accessibility.FMNP_senior_offer == 'Other (please explain)'">	
						<td></td><td>
							<input type="text" ng-model="accessibility.FMNP_senior_offer_other"/>
						</td><td></td>
					</tr>
					<tr>
						<td class="first">Does your market accept WIC CVV?</td>
						<td>Yes <input type="radio" ng-model="accessibility.accept_CVV" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.accept_CVV" value="false" /></td>
					</tr>
					<tr>
						<td class="first">Is WIC CVV available in your area? </td>
						<td>Yes <input type="radio" ng-model="accessibility.CVV_available" value="true" /></td>
						<td>No <input type="radio" ng-model="accessibility.CVV_available" value="false" /></td>
					</tr>
					<tr ng-show="accessibility.accept_CVV == 'true'">	
						<td >
							Who offers WIC CVV at your market?
						</td>
						<td>
							<select ng-model="accessibility.CVV_offer">
								<option value="The market organization and no vendors">The market organization and no vendors</option>
								<option value="The market organization and some vendors">The market organization and some vendors</option>
								<option value="Not the market organization and one or more vendors">Not the market organization and one or more vendors</option>
								<option value="Other (please explain)">Other (please explain)</option>
							</select>
						</td>
						<td>
						</td>
					</tr>
					<tr ng-show="accessibility.CVV_offer == 'Other (please explain)'">	
						<td></td><td>
							<input type="text" ng-model="accessibility.CVV_offer_other"/>
						</td><td></td>
					</tr>
				</table>
			</div>
			<div class="col-md-5">
				<div>
					<label>Total square footage that can be used by the market as selling space (including aisles but excluding customer parking, storage space, or office space):</label>
					<select ng-model="accessibility.selling_space">
						<option value="1-10,000 square feet">1-10,000 square feet</option>
						<option value="10,001-20,000 square feet">10,001-20,000 square feet</option>
						<option value="20,001-30,000 square feet">20,001-30,000 square feet</option>
						<option value="30,001-40,000 square feet">30,001-40,000 square feet</option>
						<option value="40,001-50,000 square feet">40,001-50,000 square feet</option>
						<option value="More than 50,000 square feet">More than 50,000 square feet</option>
					</select>
				</div>
				<div>
					<table class="plain-table">
						<tr>
							<td class="first">Does your market or vendors accept other vouchers?</td>
							<td>Yes <input type="radio" ng-model="accessibility.other_vouchers" value="true" /></td>
							<td>No <input type="radio" ng-model="accessibility.other_vouchers" value="false" /></td>
						</tr>
					</table>
					<div ng-show="accessibility.other_vouchers == 'true'">
						<label>Please explain:</label>
						<textarea ng-model="accessibility.other_vouchers_explain" style ="height:130px"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<a href="javascript:void" class="btn btn-default" ng-click="addAccessibility()" style="margin-top: 20px; width: 100%;">next</a>
			</div>
		</div>
	</div>
	<div ng-show="tab == 4" class="col-md-12">
		<div class="row">
			<h1>Accessibility</h1>
		</div>
		<div class="clearfix"></div>
		<div class="row">
    		<div class="col-md-5">
				<label>The elected advisors/board members include:</label>
				<table>
					<tr>
						<td><label>Customers:</label></td>
						<td><input type="checkbox" ng-model="communities.customers" /></td>
					</tr>
					<tr>
						<td><label>Municipal/government staff:</label></td>
						<td><input type="checkbox" ng-model="communities.municipal" /></td>
					</tr>
					<tr>
						<td><label>Producers/vendors:</label></td>
						<td><input type="checkbox" ng-model="communities.producers" /></td>
					</tr>
					<tr>
						<td><label>University or extension service staff:</label></td>
						<td><input type="checkbox" ng-model="communities.extension" /></td>
					</tr>
					<tr>
						<td><label>Community groups:</label></td>
						<td><input type="checkbox" ng-model="communities.community_groups" /></td>
					</tr>
					<tr>
						<td><label>Other (please explain):</label></td>
						<td><input type="checkbox" ng-model="communities.advisors_other" /></td>
					</tr>
					<tr ng-show="communities.advisors_other">
						<td><input type="text" ng-model="communities.advisors_other_explain" /></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="col-md-7">
				<div class="row">
					<label>List up to five key partners (sponsors, major funders, or event collaborators):</label>
					<textarea style="height:100px" ng-model="communities.sponsors"></textarea>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<label class="col-xs-6">Do you produce an annual report?</label>
					<div class="col-xs-3">
						Yes <input type="radio" ng-model="communities.annual_report" value="true" />
					</div>
					<div class="col-xs-2">
						No <input type="radio" ng-model="communities.annual_report" value="false" />
					</div>
					<div class="col-xs-12" ng-show="communities.annual_report == 'true'">
						Please provide the link<input type="text" ng-model="communities.report_link">
						<!-- uploads comming soon -->
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-5">
				<label>Select the online communication methods that your market uses (select all that apply):</label>
				<table>
					<tr>
						<td><label>Newsletter:</label></td>
						<td><input type="checkbox" ng-model="communities.newsletter" /></td>
					</tr>
					<tr>
						<td><label>Facebook:</label></td>
						<td><input type="checkbox" ng-model="communities.facebook" /></td>
					</tr>
					<tr>
						<td><label>Twitter:</label></td>
						<td><input type="checkbox" ng-model="communities.twitter" /></td>
					</tr>
					<tr>
						<td><label>Google+:</label></td>
						<td><input type="checkbox" ng-model="communities.google" /></td>
					</tr>
					<tr>
						<td><label>Pinterest:</label></td>
						<td><input type="checkbox" ng-model="communities.pinterest" /></td>
					</tr>
					<tr>
						<td><label>Other (please explain):</label></td>
						<td><input type="checkbox" ng-model="communities.online_other" /></td>
					</tr>
					<tr ng-show="communities.online_other">
						<td><input type="text" ng-model="communities.online_other_explain" /></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="col-md-7">
				<div class="row">
					<label>What resources do you have available for collecting and reporting data (e.g., paid staff, consultant, board members, volunteers, internet access, a smart phone or tablet, etc.)?</label>
					<textarea style="height:100px" ng-model="communities.resources_available"></textarea>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<label>Do you have experience collecting and reporting data at your market?</label>
					<div class="col-xs-3">
						Yes <input type="radio" ng-model="communities.experience_collecting" value="true" />
					</div>
					<div class="col-xs-2">
						No <input type="radio" ng-model="communities.experience_collecting" value="false" />
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<a href="javascript:void" class="btn btn-default" ng-click="addCommunity()" style="margin-top: 20px; width: 100%;">Update Profile</a>
			</div>
		</div>
	</div>
	<% end %>
  </div>
  <div class="sidebar-left">
  	<%= render "shared/logged_in" %>
  </div>
</div>
<script type="text/javascript">
//var host = "http://localhost:3000/"
var host = "https://fathomless-bayou-8856.herokuapp.com/";

function profileCtrl($scope){
	
	$('#sidebar ul li')[0].className = "active";

	$scope.profile = <%= raw(@profile.to_json) %>;
	$scope.markets = <%= raw(@markets.to_json) %>;
	$scope.management = <%= raw(@management.to_json) %>;
	$scope.positions = <%= raw(@positions.to_json) %>;
	$scope.accessibility = <%= raw(@accessibility.to_json) %>;
	$scope.communities = <%= raw(@communities.to_json) %>;


	//have to do this crap too because of fucking postgres booleans
	if($scope.accessibility != null){
		$scope.accessibility.children_activities = $scope.accessibility.children_activities ? 'true' : 'false';
		$scope.accessibility.live_music = $scope.accessibility.live_music ? 'true' : 'false';
		$scope.accessibility.food_demonstrations = $scope.accessibility.food_demonstrations ? 'true' : 'false';
		$scope.accessibility.restrooms = $scope.accessibility.restrooms ? 'true' : 'false';
		$scope.accessibility.accept_SNAP = $scope.accessibility.accept_SNAP ? 'true' : 'false';
		$scope.accessibility.accept_FMNP = $scope.accessibility.accept_FMNP ? 'true' : 'false';
		$scope.accessibility.accept_FMNP_senior = $scope.accessibility.accept_FMNP_senior ? 'true' : 'false';
		$scope.accessibility.accept_CVV = $scope.accessibility.accept_CVV ? 'true' : 'false';
		$scope.accessibility.FMNP_available = $scope.accessibility.FMNP_available ? 'true' : 'false';
		$scope.accessibility.FMNP_senior_available = $scope.accessibility.FMNP_senior_available ? 'true' : 'false';
		$scope.accessibility.CVV_available = $scope.accessibility.CVV_available ? 'true' : 'false';
		$scope.accessibility.other_vouchers = $scope.accessibility.other_vouchers ? 'true' : 'false';
		$scope.accessibility.other_features = $scope.accessibility.other_features ? 'true' : 'false';
	}
	if($scope.communities){
		$scope.communities.annual_report = $scope.communities.annual_report ? 'true' : 'false';
		$scope.communities.experience_collecting = $scope.communities.experience_collecting ? 'true' : 'false';
	}


	console.log($scope.profile);
	console.log($scope.markets);
	console.log($scope.management);
	console.log($scope.positions);
	console.log($scope.accessibility);
	console.log($scope.communities);

	$scope.tab = 1;

	var seasonalArr = [1,1,1];
	var base;

	if($scope.markets != null)
		$scope.markets.forEach(function(entry){
			base = 'market' + entry.market_num;
			if(entry.market_type == "seasonal"){
				base += seasonalArr[entry.market_num - 1];
				seasonalArr[entry.market_num - 1]++;
			}
			if(entry.market_num != null)
				$scope[base] = entry;
		});

	$scope.rightScroll = function(panel){
		$(panel).animate({
		    right: "100%"
		});
	};

	$scope.changeTab = function(tab){
		$scope.tab = tab;
		$('.progress-bar-success').width((tab*25) + '%');
		switch(tab){
			case 1:
			case 3:
				$('#summary').height('1000px');
				break;
			case 2:
				$('#summary').height('780px');
				break;
		}
	};

	$scope.locSlide = function(id) {
	  	if ($(id).is(":hidden")) {
	    	$(id).slideDown("slow");
	  	}else{
	    	$(id).slideUp("slow");
	  	}
	};

	if($scope.profile.mission_statement)
		$scope.locSlide('#mission_statement');

	$scope.addMarket = function(market,type,market_num){
		market.profile_id = <%= @profile.id %>
		market.market_type = type == 'm' ? 'market' : 'seasonal';
		market.market_num = market_num;

		$.ajax({
			type: "POST",
			url: host + "post_market",
			data: market,
			success: function(data){
				console.log(data);
			}
		});
	};

	$scope.addMan = function(){
		$scope.changeTab(3);
		$scope.management.pos = $scope.positions;
					console.log($scope.management);

		$.ajax({
			type: "POST",
			url: host + "post_managements",
			data: $scope.management,
			contentType: "application/json",
			success: function(data){
				console.log(data);
			},
			error: function(data){
				console.log(data);
			}
		});
	};

	$scope.addAccessibility = function(){
		$scope.changeTab(4);

		$.ajax({
			type: "POST",
			url: host + "post_accessibilities",
			data: $scope.accessibility,
			success: function(data){
				console.log(data);
			}
		});
	};

	$scope.addCommunity = function(){
		$.ajax({
			type: "POST",
			url: host + "post_communities",
			data: $scope.communities,
			success: function(data){
				$('form').submit();
			}
		});
	};

}
//cuz fucking angular wont load. I'll have to fix this

</script>
