<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="width:100%">
        <li><%= link_to "Profile", controller: "users", action: "show", id: @user.id %></li>
        <li><%= link_to "Metrics", controller: "users", action: "metrics" %></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instruments <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Visitor Survey", controller: "users", action: "visitor_survey" %></li>
            <li><%= link_to "Visitor Count", controller: "users", action: "visitor_count" %></li>
            <li><%= link_to "Vendor Application", controller: "users", action: "visitor_application" %></li>
            <li><%= link_to "Vendor Sales Slip", controller: "users", action: "sales_slip" %></li>
            <li><%= link_to "Vendor Attendance", controller: "users", action: "misc_research" %></li>
            <li><%= link_to "Volunteers", controller: "users", action: "volunteers" %></li>
            <li><%= link_to "Food Assistance Sales", controller: "users", action: "food_assistance" %></li>
            <li><%= link_to "Debit/Credit Sales", controller: "users", action: "credit_sales" %></li>
            <li><%= link_to "Market Events", controller: "users", action: "programs" %></li>
          </ul>
        </li>
        <li><%= link_to "Export Data", controller: "users", action: "display" %></li>
        <li><a href="javascript:void(0)" onclick="showInfographicModal()">Pdf Report</a></li>
        <li style="float:right"><%= link_to "Logout", controller: "sessions", action: "logout" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- later move all of below to seperate partial -->
<div id="infographicModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Choose your desired metrics for your report</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
          <form id="infoForm">
            <table>
              <tr>
                <td>Average number of visitors per market day</td>
                <td><input type="checkbox"/></td>
              </tr>
              <tr>
                <td>Total annual vendor sales at market</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Average distance in miles traveled from product origin</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Acres in agricultural production by market vendors</td>
                <td><input type="checkbox" /></td>
              </tr>
            </table>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal" onclick="submitChoices()">Submit</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    function showInfographicModal(){
      $("#infographicModal").modal('show');
    }

    function submitChoices(){
      var inputs = $('#infoForm input');
      var metrics = new Array(37)

      for(var i = 0; i < inputs.length; i++){
        console.log(i);
        metrics[i] = inputs[i].checked;
      }

      $.ajax({
        type: "POST",
        url: "/post_infographic_prefs",
        data: JSON.stringify(metrics),
        contentType: "application/json",
        success: function(data){
          window.location.href = "/gen_pdf";
        },
        error: function(data){
          alert("Error Submitting Data");
        }
      });

    }

  </script>