<!DOCTYPE html>
<html>
<head>
  <title>FMC Data Collection</title>

	<link rel="stylesheet" href="/assets/css/application.css.css">
	<link rel="stylesheet" href="/assets/css/tcal.css">
  <link rel="stylesheet" href="/assets/css/jquery.ptTimeSelect.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/redmond/jquery-ui.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'tcal', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.ptTimeSelect', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag '', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body data-no-turbolink>

<%= yield %>

</body>
</html>
